In [1]:
# 自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．
# 確認にはheadコマンドを用いよ．

In [ ]:
# コマンドライン引数を受け取るプログラム(.py)は，sys.argvで受け取れば良いだけなので作成していません．

In [3]:
import pandas as pd

In [4]:
df = pd.read_table('hightemp.txt', header=None)

In [11]:
# df.head(N)で先頭からN行を表示
df.head(5)

     0    1     2           3
0  高知県  江川崎  41.0  2013-08-12
1  埼玉県   熊谷  40.9  2007-08-16
2  岐阜県  多治見  40.9  2007-08-16
3  山形県   山形  40.8  1933-07-25
4  山梨県   甲府  40.7  2013-08-10

In [9]:
"""
コマンド解説
    - head
        - ファイルの先頭から表示する（デフォルトは10行）．
        - -n オプションで，n行表示させることができる．
"""
!head -n 5 hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10