In [1]:
# 自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．
# 確認にはtailコマンドを用いよ．

In [ ]:
# コマンドライン引数を受け取るプログラム(.py)は，sys.argvを利用すれば良い．

In [2]:
import pandas as pd

In [3]:
df = pd.read_table('hightemp.txt', header=None)

In [5]:
df.tail(5)

      0    1     2           3
19  埼玉県   鳩山  39.9  1997-07-05
20  大阪府   豊中  39.9  1994-08-08
21  山梨県   大月  39.9  1990-07-19
22  山形県   鶴岡  39.9  1978-08-03
23  愛知県  名古屋  39.9  1942-08-02

In [6]:
"""
コマンド解説
    - tail
        - ファイルの末尾から行単位で表示する.
        - -n で行数を指定できる．
"""
!tail -n 5 hightemp.txt

埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02