In [1]:
# 各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．
# 確認にはcut, uniq, sortコマンドを用いよ．

In [2]:
import pandas as pd

In [3]:
df = pd.read_table('hightemp.txt', header=None)

In [4]:
df.head()

     0    1     2           3
0  高知県  江川崎  41.0  2013-08-12
1  埼玉県   熊谷  40.9  2007-08-16
2  岐阜県  多治見  40.9  2007-08-16
3  山形県   山形  40.8  1933-07-25
4  山梨県   甲府  40.7  2013-08-10

In [5]:
df_0 = df[0].value_counts()
df_0

山形県     3
群馬県     3
山梨県     3
埼玉県     3
岐阜県     2
愛知県     2
静岡県     2
千葉県     2
和歌山県    1
大阪府     1
愛媛県     1
高知県     1
Name: 0, dtype: int64

In [6]:
# 1列目をソートし、重複を削除して最後に降順ソート
!cut -f 1 hightemp.txt | sort | uniq -c | sort -r

   3 群馬県
   3 山梨県
   3 山形県
   3 埼玉県
   2 静岡県
   2 愛知県
   2 岐阜県
   2 千葉県
   1 和歌山県
   1 高知県
   1 愛媛県
   1 大阪府